<h3>Списки посылок</h3>
  <% @batches.each do |batch|%>
    <%= "File GUID: #{batch.batch_file.guid}"%>
    <br/>
    <%= "BatchID: #{batch.batchid}"%>
    <div style="background-color:#EEE">
      <% batch.invoices.each_with_index do |invoice, i|%>
        <h4><%= "Invoice #{i + 1}"%></h4>
        <%= "OperationDate: #{invoice.operation_date}"%>
        <br/>
        <%= "OperationNumber: #{invoice.operation_number}"%>
        <br/>
        <%= "CompanyCode: #{invoice.company_code}"%>
        <br/>
        <h5>Parcels</h5>
        <div style="margin-left:20px;">
          <% invoice.invoice_datas.each do |invoice_data|%>
              <%= "- ParcelCode: #{invoice_data.parcel_code}"%>
              <br/>
              <%= "- ParcelPrice: #{invoice_data.parcel_price}"%>
              <br/>
              <%= "- ItemQty: #{invoice_data.item_qty}"%>
              <br/>
              <br/>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<hr/>
<h3>Загрузить новый список посылок</h3>
<form action='/upload' enctype="multipart/form-data" method='POST'>
   <input name="file" type="file" />
   <br/>
   <input type="submit" value="Upload" />
</form>
<hr/>
<h3>Удалить все списки</h3>
<form action='/clear' method='POST'>
   <input type="submit" value="Clear" />
</form>
